<!--Default layout view content-->
<!DOCTYPE html>
<html lang=en-us>
<head>
	<meta charset=utf-8>
	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
	<link href="{{{cssHash}}}" rel="stylesheet">
	<style media="screen" >

	</style>
	<title>Hello World 2.0</title>
	{{{styles}}}
</head>
<body>
	<div>
		{{{body}}}

	</div>
	<script type="text/javascript" src="{{{jsHash}}}">
	</script>
</body>
</html>
