@import 'bourbon';
@import 'neat';
@import "../style/_variables.scss";

body {
  @include outer-container;
  aside { @include span-columns(3); }
  article { @include span-columns(9); }
  margin-top: 100px;
  background-color: white;
   transform: rotate(7deg);
}
