@import 'bourbon';
@import 'neat';

@import "../style/_variables.scss";

* {
  font-size: 14px;
  text-decoration: none;
  font-family: 'Open Sans', Helevetia, Arial, sans-serif;
}

a {
  color: #FFF;
  &:hover {
    text-decoration: underline;
  }
}

body {
  @include outer-container;
  background-color: $background;
  color: #FFF;
  margin-top: 114px;
  .links__main {
    padding: 10px;
    @include span-columns(12);
    background-color: $linksMain;
  }

  .links_form {
    @include span-columns(12);
    background-color: $formbackground;
    height: 80px;

    & .form__controls {
      // @include span-columns(6.138);
      @include span-columns(5);
      margin-right: auto;
      background-color: #ebf5f9;
      border-radius: 0px;
      box-shadow: none;
      border: none;
      padding: 0 35px 0 10px;
      height: 80px;
      font-size: 30px;
      font-weight: 100;
      color: #666;
    }

    & .links___button {
      border-radius: 0;
      color: #666;
      // margin-top: 60px;
      border-radius: 0;
      padding: 10px 10px 10px 10px;
      font-size: 50px;
      font-weight: 100;
      background-color: #76BCD4;
      display: block;
      width: 100%;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      margin-bottom: 0;
      cursor: pointer;
      -webkit-user-select: none;
      background-image: none;
      border: 1px solid transparent;
      @include span-columns(1);

    }
  }

  .links__close {
    color: red;
    padding-left: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    float: right;
  }

  .links__list--item {
    padding: 5px;
    & a {
      font-weight: 300;
      font-size: 22px;
    }
  }



}
